body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.opacity-50{
  opacity: 0;
  transition: 0.5s;
}

.voucherListModal{
  width: 28rem;
}

.hoverable:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

.no-style-button,
.no-style-button:active,
.no-style-button:checked,
.no-style-button:focus{
  background: none;
  border: none;
  outline: none !important;
}

.show{
  right : 0;
  left: auto
}

.no-hover:hover{
  background: none;
}

.hoverBgGray:hover{
  background: lightgrey;
  border-radius: 5px;
}

.hover-grey:hover{
  color: darkgray;
  text-decoration: none;
  transition: 0.2s;
}

.no-spin-button::-webkit-inner-spin-button,
.no-spin-button::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.hover-grey{
  color:black;
}

.scroll-hover{
  overflow-y: hidden;
}

.scroll-hover:hover{
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: darkgrey;
  outline: 1px solid slategrey;

}
::-webkit-scrollbar-thumb:active,::-webkit-scrollbar-thumb:hover{
  background-color: grey;
  display: ""
}
